@if ((string)ViewData["UserId"] == "aab6cf8a-fa56-4623-baea-b4d3503214b4")
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <form asp-area="" asp-controller="Home" asp-action="AllExceptions" method="get" id="allExceptions" class="navbar">
                <button type="submit" style="color: red" class="btn btn-link navbar-btn navbar-link">All Exceptions</button>
            </form>
        </li>
        <li>
            <form asp-area="" asp-controller="Admin" asp-action="AddCoinsByEmail" method="get" id="addCoinsForm" class="navbar">
                <button type="submit" style="color: red" class="btn btn-link navbar-btn navbar-link">AddCoins</button>
            </form>
        </li>
        <li>
            <div style="color: white" class="btn btn-block navbar-btn navbar">Coins: @ViewData["Coins"] </div>
        </li>
        <li>
            <div style="color: white" class="btn btn-block navbar-btn navbar">Logged as @ViewData["Email"] </div>
        </li>
        <li>
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </form>
        </li>
    </ul>
    
}
else if (ViewData["UserId"] != null && ViewData["Email"] != null)
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div style="color: white" class="btn btn-block navbar-btn navbar">Coins: @ViewData["Coins"]</div>
            </li>
            <li>
                <div style="color: white" class="btn btn-block navbar-btn navbar">Logged as @ViewData["Email"] </div>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}
