@{
    ViewData["Title"] = "Roulette";
}
<head>
    <h1>Roulette Gambling Zone</h1>
</head>
<body>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <br />
    <img id="arrow" src="~/images/arrowDown.png" />
    <br />
    <img id="roullete" src="~/images/rouletteIMG.png" />
    <br />
    <div align="left">
        <input id="coinsBet" type="number" value="0" style="height: 50px; width: 45%; text-align: center; display: block;" />
    </div>
    <br />
    <br />
    <div align="left">
        <button class="starter" id="redStarter" style="height: 50px; width: 15%; background-color: red;">Red</button>
        <button class="starter" id="greenStarter" style="height: 50px; width: 15%; background-color: green;">Green</button>
        <button class="starter" id="blackStarter" style="height: 50px; width: 15%; background-color: black;">Black</button>
    </div>
    <script>
        $(document).ready(function () {

            $(".starter").click(function () {

                $('.starter').prop('disabled', true);

                var audio = new Audio("../Sounds/Roulette Sound Effect.mp3");
                audio.play();



                var randomNum = Math.floor((Math.random() * 1080) + 361);
               

                $('#roullete').css("transform", `rotate(${randomNum}deg)`);
                $('#roullete').css("transition", "5s ease-out");

                console.log(randomNum);






                var winningNumberPosition = 0;
                var position = 0;

                if (randomNum <= 360) {
                    winningNumberPosition = randomNum;
                } else if (randomNum > 360 && randomNum <= 720) {
                    winningNumberPosition = randomNum - 360;
                } else if (randomNum > 720 && randomNum <= 1080) {
                    winningNumberPosition = randomNum - 720;
                }


                position = Math.floor(winningNumberPosition);
                console.log(position);
                setTimeout(function () {
                    $('.starter').prop('disabled', false);
                }, 7 * 1000);

                audio.stop();
            });
        })
    </script>

    <style>
        #arrow {
            position: relative;
            left: 160px;
            width: 100px;
            height: 100px;
        }

        #roullete {
            position: center;
        }

        #starter {
            position: relative;
            left: 130px;
            border: none;
            background: none;
        }
    </style>

</body>

